{% extends "base.html" %}
{% block content %}
<h1>Kirjaudu sisään</h1>

<!-- Kaikki lomakkeen elementit form-tagin sisään -->
<form>
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input type="text" class="form-control">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
</form>

<h1>Vai eikö sinulta löydy viellä tunnusta? Ei hätää, tee tästä uusi!</h1>
  <p>
    <a href="http://xpexpexp.users.cs.helsinki.fi/handler/login/new" class="btn btn-primary btn-lg">Luo uusi käyttäjä <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>

{% endblock %}