{% extends "base.html" %}
{% block content %}
  <h1>Ryhmät</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Luomispäivä</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="https://xpexpexp.users.cs.helsinki.fi/handler/ryhma_info">Jonittajat</a></td>
        <td>15.9.2017</td>
        <td><label class="label label-danger">Täynnä</label></td>
      </tr>
    </tbody>
  </table>
{% endblock %}