{% extends "base.html" %}
{% block content %}

<h1>{{ryhma.nimi}} </h1>

<p>
    {% if perustaja.id == kayttaja.id %}
    <a href="/handler/ryhma/edit/{{ryhma.id}}" class="btn btn-default">Muokkaa</a>
    {% endif %}
        {% if perustaja.id == kayttaja.id %}

    <form method="post" action="/handler/ryhma/{{ryhma.id}}/destroy">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Poista</button>
        </div>
    </form>
    {% endif %}

    {% if onkoJasen == false %}
    <a href="/handler/ryhma/join/{{ryhma.id}}" class="btn btn-default">Liity</a>
    {% else %}
    <a href="/handler/ryhma/eroa/{{ryhma.id}}" class="btn btn-default">Eroa</a>
    {% endif %}
    {% if onkoJasen %}
    <a href="/handler/tapahtuma/new/{{ryhma.id}}" class="btn btn-default">Luo uusi tapahtuma ryhmälle</a>
    {% endif %}


</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Perustettu</strong> {{ryhma.perustettu}} </li>
    <li><strong>Perustaja</strong> {{perustaja.nimi}} </li>

</ul>
<!-- Kuvaus tulee tähän -->
<p>
    {{ryhma.kuvaus}}
</p>

<h3>Ryhmän jäsenet</h3>

<table class="table table-striped table-bordered">
    <tbody>
        {% for kayttaja in kayttajat %}
        <tr>
            <td>{{kayttaja.nimi}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Ryhmän tapahtumat</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Ajankohta</th>
            <th>Kuvaus</th>
        </tr>
    </thead>

    <tbody>
        {% for tapahtuma in tapahtumat %}
        <tr>
            <td>
                <p>
                    <a href="/handler/tapahtuma/info/{{tapahtuma.id}}" class="btn-default">{{tapahtuma.nimi}}</a>
                </p>
            </td>
            <td>{{tapahtuma.aika}}</td>
            <td>{{tapahtuma.kuvaus}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}