{% extends "base.html" %}
{% block content %}
  <h1>Tapahtumat</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Luomispäivä</th>
        <th>Alkamisajankohta</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">Jonitus</a></td>
        <td>15.9.2017</td>
        <td>20.9.2017 klo16.00</td>
        <td><label class="label label-danger">Täynnä</label></td>
      </tr>
    </tbody>
  </table>
{% endblock %}